<div class="">
  <!-- <div class="gt-xs:flex">
    <span class="normal-heading">Please Select the Relevant Courses / Subjects to the above selected syllabus: </span>
    <span class="red-heading"> {{country}} / {{educational_institution_category_name}}</span>
  </div> -->


  <div>
    <div class="mt-4">
      <div class="mat-elevation-z8 example-container w-fit " >
        <div id="pdfTable11">
          <table *ngIf="dataSource" id="excel_table" mat-table [dataSource]="dataSource"
            class="component--mat-table__custom-table checklist-table table-bordered table-sm block">
            <ng-container matColumnDef="GlobalCourseSubjectName">
              <th mat-header-cell *matHeaderCellDef style="
                  word-wrap: break-word;
                  min-width: 150px;
                  padding-right: 8px;
                  padding-left: 8px;
                  text-align: center;
                  vertical-align: middle;
                  margin-top: 8px;
                  margin-bottom: 8px;
                ">
                Global Course / <br>Subject Name
              </th>
              <td mat-cell *matCellDef="let element" style="text-align: left;">
                <mat-radio-button (click)="selectRow(element);">
                  </mat-radio-button> {{element.course_subject_name}}

              </td>
            </ng-container>
            <ng-container matColumnDef="CourseSubjectCategoryType">
              <th mat-header-cell *matHeaderCellDef style="
                  word-wrap: break-word;
                  min-width: 150px;
                  padding-right: 8px;
                  padding-left: 8px;
                  text-align: center;
                  vertical-align: middle;
                " class="whitespace-nowrap">
                  Course / Subject - <br> Category / Type
                </th>
              <td mat-cell *matCellDef="let element" style="text-align:left; padding-right:8px; padding-left:8px;">
                <span>{{
                  element.course_subject_type
                  }}</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="2">No data available</td>
            </tr>
          </table>
        </div>
        <div>
          <mat-paginator class="component--mat-pagination__size" #paginator #paginatorElement
            [length]="dataSource.data.length" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"
            [allValue]="dataSource.data.length" appAddAllToPaginator>
          </mat-paginator>
        </div>
        <div class="flex bg-white-black">
          <div class="custom-mat-floating-label">
            <mat-form-field appearance="outline" class="component--mat-form-field__custom-input pl-2">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input placeholder="Records shown in page" />
            </mat-form-field>
          </div>
          <div class="w-full flex justify-end">
            <span class="p-5 export-btn" [matMenuTriggerFor]="menu">Export</span>
          </div>
        </div>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadAsPDF()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Print / Export PDF</span>
      </button>
      <button mat-menu-item (click)="exportReport('Your Educational Institution Syllabus.xlsx')">
        <mat-icon>grid_on</mat-icon>
        <span>Export SpreadSheet</span>
      </button>
      <button mat-menu-item (click)="exportReport('Your Educational Institution Syllabus.csv')">
        <mat-icon>grid_on</mat-icon>
        <span>Export csv File</span>
      </button>
      <button mat-menu-item (click)="exportReport('Your Educational Institution Syllabus.json')">
        <mat-icon>grid_on</mat-icon>
        <span>Export json</span>
      </button>
    </mat-menu>
  </div>
  <div style="text-align: end; margin-right: 10px;margin-top: 15px;"><button mat-raised-button class="primary-button" (click)="submit() " [disabled]="btndisable == false">Submit</button></div>

</div>
